@import "../../style/mixins.scss";

.navbar{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    
    
    nav{
        font-size: 25px;;
        display: inline-flex;
        background-color: rgb(152, 182, 236);
        width:7000px;
        left:0;
        
        position: fixed;
        border-radius: 5px;
        
        
    }

    a{
        @include link();
        float: left;
        border-right:1px solid #bbb;
        padding-right: .5%;
        text-align: center;
        margin-left: 10px;
        
        display: block;
        &:hover{
            background-color: rgb(20, 62, 145)
        }
       
    }

    .btn-logout{
        @include link();
    }

    
}
