:root{
    --primary--color: rgb(86, 62, 173);

    --text-dark-color: rgb(43, 41, 49);

    --box-shadow: 0 10px 20px rgb(43, 41, 49), 0 6px 6px rgb(43, 41, 49);

    --text-link-color: rgb(187, 68, 68);
    

}