@import "../../style/mixins.scss";

.home{
    .btn-editor-toggle{
        @include btn();
        background-color: darkseagreen;
    }

    .no-user-message{
        margin-top: 5rem;
        text-align: center;
        color: cornflowerblue;

    }
    .no-snippets-msg
    {
        color:rgb(75, 42, 3);
        margin-top: 2rem;
        font-weight: bold;
    }

    h3{
        font-size: 2rem;
    }
    a{
        @include btn();
        color:bisque;
        background-color:darkslateblue;
        font-weight: unset;
        display: inline-block;
        margin-top: 2rem;
        &:hover{
            text-decoration: unset; 
               }


    }
}